{{- $s := . -}}
{{- $s = $s | replaceRE `(\b| )1/8(\b| )` "${1}⅛${2}" -}}
{{- $s = $s | replaceRE `(\b| )3/8(\b| )` "${1}⅜${2}" -}}
{{- $s = $s | replaceRE `(\b| )5/8(\b| )` "${1}⅝${2}" -}}
{{- $s = $s | replaceRE `(\b| )7/8(\b| )` "${1}⅞${2}" -}}
{{- $s = $s | replaceRE `(\b| )1/4(\b| )` "${1}¼${2}" -}}
{{- $s = $s | replaceRE `(\b| )3/4(\b| )` "${1}¾${2}" -}}
{{- $s = $s | replaceRE `(\b| )1/3(\b| )` "${1}⅓${2}" -}}
{{- $s = $s | replaceRE `(\b| )2/3(\b| )` "${1}⅔${2}" -}}
{{- $s = $s | replaceRE `(\b| )1/2(\b| )` "${1}½${2}" -}}
{{- return $s -}}
