<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if .Site.Params.description }}{{ .Site.Params.description }}{{ end }}" />
    {{ $title := print .Title " · " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=JetBrains+Mono:wght@400&display=swap" rel="stylesheet" />
    {{ $css := resources.Get "css/site.css" | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
    {{ template "_internal/opengraph.html" . }}
    {{- if eq .Type "recipes" -}}
    {{ partial "recipe-schema.html" . }}
    {{- end -}}
</head>
